h1 {
  font-family: Times, Helvetica;
  text-align: center;
  color: #4DDB94;

}

h2 {
  font-family: Georgia, Helvetica;
  text-align: center;
  color: #444747;
}

body {
  background-color: #E3ECEC;
  border: 3px solid #444747;
  padding: 10px 15px 15px 20px;
}
